/*checkin.css*/

#checkin{
	height: 540px;
	overflow-y:scroll;
}
#checkin li{
	cursor: pointer;
	text-align: center;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	position: relative;
	box-shadow: 0px 5px 6px rgba(102, 102, 102, 0.5) inset,
			 0px 2px 6px rgba(0, 0, 0, 0.4);
}
#checkin .user-box{
	width: 100px;height: 100px;
	border: 5px solid rgba(255,255,255,0.3)
}
#checkin .user-box img{width: 100px;height: 100px;}