<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>时刻大屏幕</title>
</head>
<body>
<div class="wrapper">
    <div id="header">
      <div>
        <img src="/static/images/logo.png" alt="华中时讯-时刻" class="logo logo-large">
      </div>
      <div>
        <h1>时刻大屏幕</h1>
      </div>
      <div>
        <img src="/static/images/qrcode.png" alt="华中时讯-时刻" class="qrcode">
      </div>
    </div>
    <div id="main"> -->
        
    </div>
    <div id="footerMenu">
      <a href=""><img src="/static/images/logo-b.png" alt="华中时讯-时刻" class="logo"></a>
      <ul id="menu">
        <li><a href="" class="btn-icon btn-checkin">签到</a></li>
        <li><a href="" class="btn-icon btn-style">皮肤</a></li>
        <li><a href="/wall" class="btn-icon btn-tag">消息</a></li>
        <li><a href="/lottery" class="btn-icon btn-lottery">抽奖</a></li>
        <li><a href="" class="btn-icon btn-pair">对对碰</a></li>
        <li><a href="" class="btn-icon btn-vote">投票</a></li>
        <li><a href="" class="btn-icon btn-shake">摇一摇</a></li>
        <li><a href="" class="btn-icon btn-full">全屏</a></li>

        <li><a href="" class="btn-func btn-old">最旧一页</a></li>
        <li><a href="" class="btn-func btn-prev">上一页</a></li>
        <li><a href="" class="btn-func btn-begin btn-pause">开始</a></li>
        <li><a href="" class="btn-func btn-next">下一页</a></li>
        <li><a href="" class="btn-func btn-new">上一页</a></li>
        <li><a href="" class="btn-func btn-prev">最新一页</a></li>
      </ul>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>