<% include template_header.html %>
<div id="wall">
  <ul class="classic-wall">
  	<li class="clearfix">
  		<div class="user-head">
  			<img src="/static/images/userimg.jpg">
  		</div>
  		<div class="user-content">
  			<div>
  				<h1>天才小熊猫：<span>如何有时间的话在这里</span></h1>
  				<p>这里是我要说的话，怎么还不显示</p>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="user-head">
  			<img src="/static/images/userimg.jpg">
  		</div>
  		<div class="user-content">
  			<div>
  				<h1>天才小熊猫：<span>如何有时间的话在这里</span></h1>
  				<p>这里是我要说的话，怎么还不显示咿呀一哟</p>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="user-head">
  			<img src="/static/images/userimg.jpg">
  		</div>
  		<div class="user-content user-content-with-img">
  			<div>
  				<h1>天才小熊猫：<span>如何有时间的话在这里</span></h1>
  				<p>这里是我要说的话，怎么还不显示</p>
  			</div>
  			<img src="/static/images/userimg.jpg" class="user-content-img">
  		</div>
  	</li>
  </ul>
</div>

<% include template_footer.html %>
